<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <button (click)="addItem(item)" [disabled]="(cargoHold.length === maxItems) || (item.mass > (maximumAllowedMass - cargoMass)) || itemCountInHold(item) === 2" [class.active]="!((cargoHold.length === maxItems) || (item.mass > (maximumAllowedMass - cargoMass)) || itemCountInHold(item) === 2)">Add to Cargo Hold</button>
            <!-- 330 chars?????? needs a function -->
            {{item.name}}, {{item.mass}} kg
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">
            {{equipment.name}}
            <button (click)="removeItem(equipment)">remove item</button>
        </li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p [class.nearMaxMass]="(maximumAllowedMass - cargoMass) <= 200">Mass Budget Remaining: {{ maximumAllowedMass - cargoMass }} kg</p>
    <button (click)="emptyCargoHold()">empty hold</button>
</div>

